body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr, 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  justify-content: center;
}
nav {
  grid-area: 1 / 1 / 2 / 4;
  top: 0;
  z-index: 100;
  position: fixed;
}
.jumbotron {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 6px;
}
.content-container {
  border: 1px solid lightslategrey;
  border-radius: 6px;
  grid-area: 1 / 2 / 2 / 3;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* .about{
}
.projects{
}
.udemy{
}
.messageboard{
} */
p {
  color: lightslategrey;
}
section {
  min-height: 300px;
  width: 100%;
}
